@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-green: #5C873C;
  --color-lightGreen: #94C36A;
  --color-blue: #134266;
  --color-white: #FFFFFF;
  --color-black: #222222;
  --color-link: #0000EE;

  --text-*: initial;
  --text-smallest: 0.938rem;
  --text-smaller: 1.063rem;
  --text-paragraph: 1.125rem;
  --text-larger: 1.25rem;
  --text-subheading: 1.5rem;
  --text-heading: 2.25rem;

  --font-weight-*: initial;
  --font-weight-thin: 200;
  --font-weight-light: 300;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 650px;
  --breakpoint-tabletLarge: 900px;
  --breakpoint-desktopSmall: 1100px;
  --breakpoint-desktop: 1400px;
}

@layer components {

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Raleway/Raleway-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Raleway/Raleway-VariableFont_wght.woff") format("woff-variations");
    font-weight: 100 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.woff") format("woff-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
  }

  * {
    font-family: "Raleway";
    color: #222222
  }

  h1,
  h2 {
    font-weight: 500;
    font-size: 2.25rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-size: 1.5rem;
  }

  p,
  ul {
    font-size: 1.125rem;
    font-weight: 200;
  }

  p {
    text-align: justify;
  }

  input,
  textarea {
    background-color: #FFFFFF;
  }
}

@layer utilities {

  .splide__slide {
    @apply opacity-80
  }

  .splide__slide.is-active {
    @apply opacity-100
  }

  .splide__arrows {
    @apply z-10 absolute w-full px-10 top-1/2
  }

  .splide__arrow {
    @apply fill-white p-4 -m-4 opacity-90 absolute
  }

  @media (min-width: 1100px) {
    .splide__arrow {
      @apply p-0 m-0
    }

  }

  .splide__arrow:hover {
    @apply fill-green
  }

  .splide__arrow:disabled {
    @apply fill-white
  }

  .splide__arrow--prev {
    @apply -scale-100
  }

  .splide__arrow--next {
    @apply right-10
  }
}